<h1>All your courses</h1>

<ul id="allcourses">
  <% @courses.each do |type| %>
    <div class="grey">
      <li>Subject: <%= link_to(type.subject, type) %></li>
    </div>
  <% end %>
</ul>
<%= link_to "Create a new course", new_course_path %></br>
